.avatar {
    
    margin-bottom: 15px;
    width:75px;
}

.navbar .container-avatar,
.pub_image .container-avatar {
    overflow: hidden;
    border-radius:900px;
    width: 35px;
    height: 35px;
    margin-left: 20px;
}

.navbar .container-avatar img,
.pub_image .container-avatar img {   
    height:100%;
    width:100%;
    
}
.pub_image {
    margin-bottom: 25px;
}

.pub_image .container-avatar {
    float: left;
    margin-right: 15px;
}

.pub_image .data-user{
    font-weight: bold;
    line-height: 35px;
    
}


.pub_image .nickname {
    color:grey;
}

.image-container{
    width: 100%;
    max-height: 400px;
    overflow: hidden;
}

.image-detail{
    width: 100%;
    max-height: 500px;
    overflow: hidden;
}

.image-container img{
    width: 100%;
}

.pub_image .card-body{
    padding: 0px;
}

.pub_image .description{
    padding: 20px;
    padding-bottom: 0px;
}

.pub_image .btn-comments{
    margin: 20px;
    margin-top: 0px;
    margin-left: 0px;
}

.pub_image_detail .comments{
    padding: 20px;
}

.likes{
    float: left;
    padding-left: 20px;
    padding-right: 10px;
}

.likes img{
    width: 25px;
}

.number_likes {
    color: gray;
    font-size: 10px;
}

.profile-user{
    background: rgb(238, 236, 236);
    height: 200px;
    margin-bottom: 40px;
    border: solid 1px black;
}

.profile-user .container-avatar{
    margin-top: 10px;
    margin-left: 10px;
    width: 180px;
    height: 180px;
    border-radius: 900px;
    overflow: hidden;
    float: left;
}

.profile-user .container-avatar img{
    width: 100%;
    height: 100%;
}

.profile-user .user-info{
    padding-left: 30px;
    float: left;
    padding-top: 30px;
}

.btn-search {
    margin-left: 0px;
    padding-left: 0px;
}
